.videos__title {
    width: 100%;
    margin: 10px 0;
    @extend %desktop-title-font;
    color: $primary-font-color;
}

@media (max-width: $breakpoint-tablet) {
    .videos__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .videos__title {
        font-size: 14px;
        line-height: 16px;
    }
}