.actor {
    padding: 10px;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    border-radius: $border-radius;
    box-shadow: $shadow;

    background-color: rgba(242, 242, 242, .5);
}

@media (max-width: $breakpoint-tablet) {
    .actor {
        grid-template-columns: 1fr;
    }
}