.footer__copyright {
    align-self: center;
    justify-self: end;
    @extend %desktop-paragrpaph-font;
    color: #fff;
}

@media (max-width: $breakpoint-tablet) {
    .footer__copyright {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}