.footer__content {
    justify-self: center;
    max-width: 1366px;
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
}

@media (max-width: $breakpoint-tablet) {
    .footer__content {
        padding: 12px;
    }
}