.actor__link {
    padding: 10px;
    text-decoration: none;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: rgba(242, 242, 242, .5);
    transition: $transition;
}

@media (min-width: 768px) {
    .actor__link:hover {
        box-shadow: $shadow-hover;
    }
}

@media (max-width: $breakpoint-tablet) {
    .actor__link {
        grid-template-columns: 1fr;
    }
}

@media (max-width: $breakpoint-mobile) {
    .actor__link {
        padding: 6px;
        gap: 10px;
    }
}