.photo-corrector__maria-zvereva {
    object-position: 0 -120px;
}


@media (max-width: 1260px) {
    .photo-corrector__maria-zvereva {
        object-position: 0 -80px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .photo-corrector__maria-zvereva {
        object-position: 0 -60px;
    }
}
