.header__logo {
    background-size: 120px 60px;
    width: 120px;
    height: 60px;
    align-self: center;
    justify-self: start;
}

@media (max-width: $breakpoint-mobile) {
    .header__logo {
        justify-self: center;
    }
}