.header__logo {
    background-size: 96px 48px;
    width: 96px;
    height: 48px;
    align-self: center;
    justify-self: start;
}

@media (max-width: $breakpoint-mobile) {
    .header__logo {
        justify-self: center;
    }
}