.menu__link {
    color: $primary-font-color;
    text-decoration: none;
    text-transform: uppercase;
    @extend %desktop-menu-font;
    transition: all .2s ease;
    cursor: pointer;
}

@media (min-width: $breakpoint-desktop) {
    .menu__link:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}