.menu__link {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: $primary-color;
    text-transform: uppercase;
    text-underline-offset: 0.2em;
    @extend %desktop-menu-font;
    transition: all .2s ease;
    cursor: pointer;
}

@media (min-width: $breakpoint-desktop) {
    .menu__link:hover {
        color: #fff;
        text-decoration: underline;
        text-decoration-color: #fff;
    }
}

@media (max-width: $breakpoint-mobile) {
    .menu__link {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}