$background-color: grey;
$primary-color: #003A97;
$secondary-color: red;
$primary-font-color: #000;

$text-color: #000;

$shadow: 0 0 3px 1px rgba(100, 100, 100, .3);
$border: 1px solid #eee;
$border-radius: 10px;



// Боковые отступы для всего контента на странице
$desktop-side-offset: 24px;
$tablet-side-offset: 16px;
$mobile-side-offset: 8px;

// Отступы между блоков
$desktop-offset-between-blocks: 36px;
$tablet-offset-between-blocks: 24px;
$mobile-offset-between-blocks: 12px;

// Отступы между секций
$desktop-offset-between-sections: 24px;
$tablet-offset-between-sections: 18px;
$mobile-offset-between-sections: 12px;

// Брейкпоинты для медиазапросов
$breakpoint-desktop: 1025px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
