.footer__logo {
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    align-self: center;
}

@media (max-width: $breakpoint-tablet) {
    .footer__logo {
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
}