.footer__logo {
    // background-size: 120px 60px;
    // width: 120px;
    // height: 60px;
    align-self: center;
    color: #ffffff;
    font-family: Roboto, 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: $breakpoint-tablet) {
    .footer__logo {
        font-size: 18px;
        font-weight: 600;
        // background-size: 80px 40px;
        // width: 80px;
        // height: 40px;
    }
}