.contacts__title {
    margin: 10px 0;
    @extend %desktop-title-font;
    color: $primary-font-color;
}

@media (max-width: $breakpoint-tablet) {
    .contacts__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}