.header {
    padding: 12px 0 12px 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
}

@media (max-width: $breakpoint-mobile) {
    .header {
        grid-template-columns: 1fr;
        row-gap: 10px;
        padding: 8px;
    }
}