.about__paragraph {
    @extend %desktop-paragrpaph-font;
    color: $primary-font-color;
    max-width: 700px;
    justify-self: center;
    text-align: justify;
}

@media (max-width: $breakpoint-mobile) {
    .about__paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
}