.about__paragraph {
    @extend %desktop-paragrpaph-font;
    color: $primary-font-color;
}

@media (max-width: $breakpoint-mobile) {
    .about__paragraph {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}