.profile__name {
    margin: 0;
    @extend %desktop-actor-name-font;
    color: $text-color;
}

@media (max-width: $breakpoint-mobile) {
    .profile__name {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}