.about__title {
    margin: 10px 0;
    @extend %desktop-title-font;
    color: $primary-font-color;
    justify-self: center;
}

@media (max-width: $breakpoint-mobile) {
    .about__title {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }
}