.actor__name {
    margin: 0;
    @extend %desktop-actor-name-font;
    color: $text-color;
}

@media (max-width: $breakpoint-mobile) {
    .actor__name {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }
}